### Using a different Ratio

$ ratio1 = \frac {Refugees} {Total\ GDP\ (PPP)} $

$ ratio1 = \frac {Refugees} {Population} $

The final ratio is the harmonic mean of the two ratios:

$ final\ measure = \frac {2 \times ratio1 \times ratio2} {ratio1 + ratio2} $

In [40]:
!ls
import pandas as pd

analysis.ipynb                 population.csv.gz
analysis_alternate_ratio.ipynb ppp.csv.gz
combined.csv.gz                refugee.csv.gz
final.csv                      sorted_ratio.csv.gz

In [34]:
df = pd.read_csv('combined.csv.gz').fillna(0)
print(df.columns)

def normalize(df):
    df = (df - df.min()) / (df.max() - df.min())
    return df
    
df['ratio1'] = df['refugees'] / df['gdp-ppp']
df['ratio2'] = df['refugees'] / df['population']
df = df[(df['ratio1'] != float('inf')) & (df['ratio2'] != float('inf'))]
df['ratio1'] = normalize(df['ratio1'])
df['ratio2'] = normalize(df['ratio2'])
df['ratio'] = 2 * df['ratio1'] * df['ratio2'] / (df['ratio1'] + df['ratio2']) 
df = df.sort_values(by='ratio', ascending=False).reset_index(drop=True)
df = df[['country', 'ratio']]
df['ratio'] = df['ratio'] * 1.0e2

Index(['country', 'population', 'gdp-ppp', 'refugees'], dtype='object')

In [35]:
def is_country(x):
    if "countries" in x.lower() or "country" in x.lower():
        return False
    if "south africa" == x.lower():
        return True
    if "total" in x.lower():
        return False
    if "Latin America & Caribbean" == x:
        return False
    if x.lower() in ["world", "middle income", "ibrd only", "oecd", "euro area"]:
        return False
    for region in ["asia", "africa", "europe", "middle"]:
        if region in x.lower():
            return False
    for keyword in ['IDA', 'Fragile', 'demographic', 'World', 'IBRD', 'Income', 'income']:
        if keyword in x:
            return False
    return True

In [36]:
df[df['country'].map(is_country) == False].reset_index(drop=True).rename(columns={"country": "country type"})

                                         country type     ratio
0   Middle East & North Africa (excluding high inc...  3.278070
1                                          Low income  2.690753
2                                          Arab World  2.499848
3   Middle East & North Africa (IDA & IBRD countries)  2.437459
4            Fragile and conflict affected situations  2.261526
5                          Middle East & North Africa  2.066539
6              Heavily indebted poor countries (HIPC)  1.952122
7                         Africa Eastern and Southern  1.900581
8                                            IDA only  1.682353
9        Least developed countries: UN classification  1.677269
10                           Pre-demographic dividend  1.547317
11         Sub-Saharan Africa (excluding high income)  1.421577
12                                 Sub-Saharan Africa  1.421173
13          Sub-Saharan Africa (IDA & IBRD countries)  1.421173
14                                          IDA total  1.396814
15                                          IDA blend  0.924160
16                         Africa Western and Central  0.753127
17      Europe & Central Asia (excluding high income)  0.742651
18                         Early-demographic dividend  0.693374
19                           Central African Republic  0.655565
20       Europe & Central Asia (IDA & IBRD countries)  0.653769
21                                Low & middle income  0.492932
22                                   IDA & IBRD total  0.432980
23                              Europe & Central Asia  0.411461
24                                Lower middle income  0.411252
25                                      Middle income  0.382419
26                                Upper middle income  0.362044
27                                              World  0.346262
28                                          Euro area  0.300345
29                            South Asia (IDA & IBRD)  0.275010
30                                         South Asia  0.275010
31                                     European Union  0.273768
32                                          IBRD only  0.267089
33                          Post-demographic dividend  0.130100
34                                        High income  0.116959
35                          Late-demographic dividend  0.090451
36  Latin America & the Caribbean (IDA & IBRD coun...  0.053200
37                          Latin America & Caribbean  0.051776
38  Latin America & Caribbean (excluding high income)  0.044317
39         East Asia & Pacific (IDA & IBRD countries)  0.029275
40        East Asia & Pacific (excluding high income)  0.029094
41                                East Asia & Pacific  0.025086
42                     Central Europe and the Baltics  0.023807

In [37]:
df[df['country'].map(is_country) == True].head(40).reset_index(drop=True)

               country       ratio
0   West Bank and Gaza  100.000000
1               Jordan   42.791395
2              Lebanon   25.851913
3                Nauru   11.627569
4                 Chad    9.301862
5               Uganda    9.057853
6                Sudan    5.616584
7              Armenia    4.461774
8             Djibouti    4.355578
9           Mauritania    4.230794
10            Cameroon    4.003899
11               Niger    3.215019
12              Rwanda    3.171984
13              Turkey    3.061585
14             Burundi    2.286775
15            Ethiopia    1.997768
16               Kenya    1.909605
17    Congo, Dem. Rep.    1.865046
18            Pakistan    1.443750
19         Congo, Rep.    1.227918
20  Iran, Islamic Rep.    1.165200
21          Bangladesh    1.131045
22            Tanzania    1.090129
23                Iraq    1.029694
24              Sweden    0.919721
25              Zambia    0.914587
26               Malta    0.860285
27             Ecuador    0.832475
28              Cyprus    0.775290
29                Mali    0.677619
30              Greece    0.666799
31             Austria    0.603391
32             Germany    0.559738
33         Afghanistan    0.556327
34         Gambia, The    0.530031
35             Liberia    0.529333
36         Switzerland    0.403287
37                Togo    0.384015
38              Serbia    0.355061
39    Egypt, Arab Rep.    0.339207

In [38]:
countrydf = df[df['country'].map(is_country) == True].reset_index(drop=True)

In [39]:
def interesting_country(x):
    if "united states" in x.lower():
        return True
    for c in ['france', 'india', 'germany', 'denmark', 'netherland', 'belgium', 'austria', 'sweden', 'switzerland', 'ireland', 'canada', 'united kingdom', 'italy', 'spain', 'portugal']:
        if c in x.lower():
            return True
    return False

countrydf[countrydf['country'].map(interesting_country)]

            country     ratio
24           Sweden  0.919721
31          Austria  0.603391
32          Germany  0.559738
36      Switzerland  0.403287
43           France  0.285973
51          Belgium  0.223067
52          Denmark  0.222342
58      Netherlands  0.162129
71           Canada  0.127954
73            Spain  0.117285
74            Italy  0.105313
76   United Kingdom  0.087850
86          Ireland  0.042752
92    United States  0.034759
100           India  0.027030
118        Portugal  0.013862