### Using a different Ratio

$ ratio1 = \frac {Refugees} {Total\ GDP\ (PPP)} $

$ ratio1 = \frac {Refugees} {Population} $

The final ratio is the harmonic mean of the two ratios:

$ final\ measure = \frac {2 \times ratio1 \times ratio2} {ratio1 + ratio2} $

In [1]:
!ls
import pandas as pd

analyis_harmonic_mean_population_gdp.ipynb
analysis.ipynb
analysis_alternate_ratio.ipynb
combined.csv.gz
final.csv
population.csv.gz
ppp.csv.gz
refugee.csv.gz
sorted_ratio.csv.gz

In [2]:
df = pd.read_csv('combined.csv.gz').fillna(0)
print(df.columns)

def normalize(df):
    return df
    df = (df - df.min()) / (df.max() - df.min())
    return df
    
df['ratio1'] = df['refugees'] / df['gdp-ppp']
df['ratio2'] = df['refugees'] / df['population']
df = df[(df['ratio1'] != float('inf')) & (df['ratio2'] != float('inf'))]
df['ratio1'] = normalize(df['ratio1'])
df['ratio2'] = normalize(df['ratio2'])
df['ratio'] = 2 * df['ratio1'] * df['ratio2'] / (df['ratio1'] + df['ratio2']) 
df = df.sort_values(by='ratio', ascending=False).reset_index(drop=True)
df = df[['country', 'ratio']]
df['ratio'] = df['ratio'] * 1.0e2

Index(['country', 'population', 'gdp-ppp', 'refugees'], dtype='object')

In [3]:
def is_country(x):
    if "countries" in x.lower() or "country" in x.lower():
        return False
    if "south africa" == x.lower():
        return True
    if "total" in x.lower():
        return False
    if "Latin America & Caribbean" == x:
        return False
    if x.lower() in ["world", "middle income", "ibrd only", "oecd", "euro area"]:
        return False
    for region in ["asia", "africa", "europe", "middle"]:
        if region in x.lower():
            return False
    for keyword in ['IDA', 'Fragile', 'demographic', 'World', 'IBRD', 'Income', 'income']:
        if keyword in x:
            return False
    return True

In [4]:
df[df['country'].map(is_country) == False].reset_index(drop=True).rename(columns={"country": "country type"})

                                         country type     ratio
0                                          Low income  0.000870
1              Heavily indebted poor countries (HIPC)  0.000524
2            Fragile and conflict affected situations  0.000450
3   Middle East & North Africa (excluding high inc...  0.000437
4                         Africa Eastern and Southern  0.000415
5        Least developed countries: UN classification  0.000406
6                                            IDA only  0.000401
7                            Central African Republic  0.000380
8                            Pre-demographic dividend  0.000347
9   Middle East & North Africa (IDA & IBRD countries)  0.000324
10                                         Arab World  0.000301
11         Sub-Saharan Africa (excluding high income)  0.000300
12                                 Sub-Saharan Africa  0.000300
13          Sub-Saharan Africa (IDA & IBRD countries)  0.000300
14                                          IDA total  0.000299
15                         Middle East & North Africa  0.000241
16                                          IDA blend  0.000169
17                         Africa Western and Central  0.000151
18                         Early-demographic dividend  0.000096
19      Europe & Central Asia (excluding high income)  0.000080
20       Europe & Central Asia (IDA & IBRD countries)  0.000069
21                                Low & middle income  0.000065
22                                Lower middle income  0.000064
23                                   IDA & IBRD total  0.000056
24                                      Middle income  0.000049
25                            South Asia (IDA & IBRD)  0.000046
26                                         South Asia  0.000046
27                              Europe & Central Asia  0.000041
28                                Upper middle income  0.000041
29                                              World  0.000040
30                                          IBRD only  0.000032
31                                          Euro area  0.000029
32                                     European Union  0.000027
33                          Post-demographic dividend  0.000012
34                                        High income  0.000011
35                          Late-demographic dividend  0.000010
36  Latin America & the Caribbean (IDA & IBRD coun...  0.000006
37                          Latin America & Caribbean  0.000006
38  Latin America & Caribbean (excluding high income)  0.000005
39         East Asia & Pacific (IDA & IBRD countries)  0.000003
40        East Asia & Pacific (excluding high income)  0.000003
41                                East Asia & Pacific  0.000003
42                     Central Europe and the Baltics  0.000002

In [5]:
df[df['country'].map(is_country) == True].head(40).reset_index(drop=True)

               country     ratio
0   West Bank and Gaza  0.017181
1               Jordan  0.005696
2                 Chad  0.003635
3              Lebanon  0.003264
4               Uganda  0.002707
5              Burundi  0.001644
6                Niger  0.001495
7                Nauru  0.001395
8                Sudan  0.001145
9               Rwanda  0.000973
10    Congo, Dem. Rep.  0.000958
11            Cameroon  0.000850
12          Mauritania  0.000747
13            Djibouti  0.000742
14            Ethiopia  0.000575
15             Armenia  0.000547
16               Kenya  0.000368
17              Turkey  0.000318
18            Tanzania  0.000291
19         Congo, Rep.  0.000271
20            Pakistan  0.000271
21             Liberia  0.000222
22              Zambia  0.000208
23          Bangladesh  0.000205
24                Mali  0.000199
25         Afghanistan  0.000179
26         Gambia, The  0.000159
27  Iran, Islamic Rep.  0.000143
28                Iraq  0.000141
29                Togo  0.000117
30             Somalia  0.000113
31             Ecuador  0.000109
32              Malawi  0.000098
33       Guinea-Bissau  0.000097
34              Sweden  0.000087
35        Burkina Faso  0.000085
36               Malta  0.000084
37              Cyprus  0.000080
38              Greece  0.000069
39             Austria  0.000057

In [6]:
countrydf = df[df['country'].map(is_country) == True].reset_index(drop=True)

In [7]:
def interesting_country(x):
    if "united states" in x.lower():
        return True
    for c in ['france', 'india', 'germany', 'denmark', 'netherland', 'belgium', 'austria', 'sweden', 'switzerland', 'ireland', 'canada', 'united kingdom', 'italy', 'spain', 'portugal']:
        if c in x.lower():
            return True
    return False

countrydf[countrydf['country'].map(interesting_country)]

            country     ratio
34           Sweden  0.000087
39          Austria  0.000057
41          Germany  0.000053
46      Switzerland  0.000037
54           France  0.000028
59          Belgium  0.000021
60          Denmark  0.000021
69      Netherlands  0.000015
76           Canada  0.000012
77            Spain  0.000012
80            Italy  0.000010
81   United Kingdom  0.000008
90            India  0.000004
93          Ireland  0.000004
100   United States  0.000003
121        Portugal  0.000001