### Using a different Ratio

$\frac {Refugees\ in\ Country} {Total\ GDP\ (PPP)} \times 10^{8}$

In [3]:
!ls
import pandas as pd

analysis.ipynb      final.csv           ppp.csv.gz          sorted_ratio.csv.gz
combined.csv.gz     population.csv.gz   refugee.csv.gz

In [20]:
df = pd.read_csv('combined.csv.gz').fillna(0)
df['ratio'] = df['refugees'] / df['gdp-ppp']
df = df.fillna(0)
df = df[df['ratio'] != float('inf')]
df = df.sort_values(by='ratio', ascending=False).reset_index(drop=True)
df = df[['country', 'ratio']]
df['ratio'] = df['ratio'] * 1.0e8

In [21]:
def is_country(x):
    if "countries" in x.lower() or "country" in x.lower():
        return False
    if "south africa" == x.lower():
        return True
    if "total" in x.lower():
        return False
    if "Latin America & Caribbean" == x:
        return False
    if x.lower() in ["world", "middle income", "ibrd only", "oecd", "euro area"]:
        return False
    for region in ["asia", "africa", "europe", "middle"]:
        if region in x.lower():
            return False
    for keyword in ['IDA', 'Fragile', 'demographic', 'World', 'IBRD', 'Income', 'income']:
        if keyword in x:
            return False
    return True

In [22]:
df[df['country'].map(is_country) == False].reset_index(drop=True).rename(columns={"country": "country type"})

                                         country type       ratio
0                                          Low income  435.365861
1              Heavily indebted poor countries (HIPC)  261.873337
2            Fragile and conflict affected situations  224.904365
3   Middle East & North Africa (excluding high inc...  218.416496
4                         Africa Eastern and Southern  207.738500
5        Least developed countries: UN classification  203.289671
6                                            IDA only  200.490801
7                            Central African Republic  190.415698
8                            Pre-demographic dividend  173.309440
9   Middle East & North Africa (IDA & IBRD countries)  162.084620
10                                         Arab World  150.627787
11         Sub-Saharan Africa (excluding high income)  150.000881
12                                 Sub-Saharan Africa  149.915239
13          Sub-Saharan Africa (IDA & IBRD countries)  149.915239
14                                          IDA total  149.706963
15                         Middle East & North Africa  120.329254
16                                          IDA blend   84.694421
17                         Africa Western and Central   75.751856
18                         Early-demographic dividend   48.198540
19      Europe & Central Asia (excluding high income)   39.780896
20       Europe & Central Asia (IDA & IBRD countries)   34.739858
21                                Low & middle income   32.284715
22                                Lower middle income   31.754972
23                                   IDA & IBRD total   28.110929
24                                      Middle income   24.314486
25                            South Asia (IDA & IBRD)   22.775495
26                                         South Asia   22.775495
27                              Europe & Central Asia   20.484505
28                                Upper middle income   20.450017
29                                              World   19.815045
30                                          IBRD only   16.238015
31                                          Euro area   14.461974
32                                     European Union   13.256160
33                          Post-demographic dividend    6.229767
34                                        High income    5.585523
35                          Late-demographic dividend    5.091937
36  Latin America & the Caribbean (IDA & IBRD coun...    3.121154
37                          Latin America & Caribbean    3.033290
38  Latin America & Caribbean (excluding high income)    2.622783
39         East Asia & Pacific (IDA & IBRD countries)    1.724059
40        East Asia & Pacific (excluding high income)    1.718513
41                                East Asia & Pacific    1.408415
42                     Central Europe and the Baltics    1.195383

In [23]:
df[df['country'].map(is_country) == True].head(40).reset_index(drop=True)

               country        ratio
0   West Bank and Gaza  8592.074481
1               Jordan  2848.475526
2                 Chad  1818.624374
3              Lebanon  1632.063361
4               Uganda  1354.166976
5              Burundi   823.099191
6                Niger   748.155972
7                Nauru   697.727882
8                Sudan   572.720134
9               Rwanda   486.507557
10    Congo, Dem. Rep.   479.394660
11            Cameroon   425.070891
12          Mauritania   373.624399
13            Djibouti   371.262950
14            Ethiopia   287.383469
15             Armenia   273.608261
16               Kenya   184.002745
17              Turkey   159.005026
18            Tanzania   145.595746
19         Congo, Rep.   135.614473
20            Pakistan   135.350746
21             Liberia   110.860007
22              Zambia   103.949447
23          Bangladesh   102.393101
24                Mali    99.655682
25         Afghanistan    89.322146
26         Gambia, The    79.719223
27  Iran, Islamic Rep.    71.411730
28                Iraq    70.712110
29                Togo    58.714376
30             Somalia    56.745633
31             Ecuador    54.439685
32              Malawi    48.927099
33       Guinea-Bissau    48.523702
34              Sweden    43.596345
35        Burkina Faso    42.604929
36               Malta    41.996186
37              Cyprus    39.793270
38              Greece    34.486023
39             Austria    28.570668

In [24]:
countrydf = df[df['country'].map(is_country) == True].reset_index(drop=True)

In [26]:
def interesting_country(x):
    if "united states" in x.lower():
        return True
    for c in ['france', 'india', 'germany', 'denmark', 'netherland', 'belgium', 'austria', 'sweden', 'switzerland', 'ireland', 'canada', 'united kingdom', 'italy', 'spain', 'portugal']:
        if c in x.lower():
            return True
    return False

countrydf[countrydf['country'].map(interesting_country)]

            country      ratio
34           Sweden  43.596345
39          Austria  28.570668
41          Germany  26.543679
46      Switzerland  18.699466
54           France  13.773341
59          Belgium  10.611191
60          Denmark  10.454268
69      Netherlands   7.633812
76           Canada   6.167971
77            Spain   5.797727
80            Italy   5.139702
81   United Kingdom   4.236037
90            India   2.177077
93          Ireland   1.948806
100   United States   1.626882
121        Portugal   0.694752